<h1>Olá Gestor,</h1>

Eu fiz uma nova hora extra, começei as <%= (@user.start_overtime.strftime('%d/%m/%Y %H:%M')) %>, 
e finalizei as <%= (@user.end_overtime.strftime('%d/%m/%Y %H:%M')) %> por este motivo <%= @user.description %>.

Aguardo a sua aprovação.
