<ul class="submenu pull-right">
	<li><i class="icon-pencil"></i><%= link_to "Registrar Hora Extra", "/registrar-hora-extra"%></li>
	<li><i class="icon-list-alt"></i><%= link_to "Relatórios", "/horas-extras"%></li>
	<li><i class="icon-remove-circle"></i><%= link_to "Sair", "/users/sign_out"%></li>
</ul>