<h1>Pages#home</h1>

<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
<% end %>


<%= debug session["auth"]%>

<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<% if user_signed_in? %>
	<img src="<%= current_user.picture %>" />
<% end %>