<h1>Relatorio das Horas</h1>


<%= render "shared/menu" %>
    <div class="pull-left">Selecione o Projeto <%= @projec %></div>
    <table data-filter="#filter" class="footable">
      <thead>
        <tr>
          <th data-class="expand" data-sort-initial="true">
            Motivo
          </th>
          <th>
            Inicio
          </th>
          <th data-hide="phone,tablet">
            Fim
          </th>
          <th data-hide="phone,tablet" data-type="numeric"> 
            Horas trabalhadas
          </th>
          <th data-hide="phone">
            Projeto
          </th>
          </th>
          <th data-hide="phone">
            Usuario
          </th>
        </tr>
      </thead>
      

     